autostart
dconf
discord
dunst
EOS-greeter.conf
eos-log-tool
eos-update-notifier.first_init
example.picom.conf
gtk-3.0
microsoft-edge
nano
neofetch
obsidian
picom
procps
pulse
reflector-simple-free-params.txt
rofi
systemd
Thunar
user-dirs.dirs
user-dirs.locale
xfce4
yay
